<html>
	<head>
		<title>Welcome to {{greeting_msg}}</title>
	</head>
	<body>
		<h3>Hostname - {{ansible_hostname}}</h3>
		<h3>Provisioner tool - {{provisioner_tool}}</h3>
		<h3>Configuration management tool - {{conf_mgr_tool}}</h3>
	</body>
</html>
